body {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#imgContainer {
  height: 250px;
  width: 250px;
  background-size: contain;
  background-image: url("http://worldartsme.com/images/wisconsin-outline-clipart-1.jpg");
  /* background-color: blue; */
  transition: background-image 1s;
}

.box {
  height: 100px;
  width: 100px;
  background-color: red;
}

@media screen and (min-width: 200px) {
  body {
    background-color: pink;
  }
  .box {
    background-color: black;
  }
}

/* @media screen and (min-width: 200px) { */
/* .box { */
/* background-color: black; */
/* } */
/* } */

@media screen and (min-width: 300px) {
  body {
    background-color: green;
  }
}

@media screen and (min-width: 500px) {
  body {
    background-color: yellow;
  }
}

@media screen and (min-width: 700px) {
  body {
    background-color: orange;
  }
}
